<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/icon/favicon.ico">

  <title>AdClick 帮助中心</title>
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="/bootstrap/css/navbar-fixed-side.css" rel="stylesheet" />
  <link href="/css/help.css" rel="stylesheet">
  
</head>
<body>
  <div class="container-fluid">
    <!--Nav part-->
    <nav class="navbar navbar-fixed-top help-nav" role="navigation">
      <div class="navbar-header">
        <a href="/"><img alt="Brand" class="navbar-brand-logo  navbar-left" src="/icon/logo.png"></a>
        <a class="navbar-brand" href="javascript:;">AdClick&nbsp;帮助中心</a>
      </div>
    </nav>
  </div>
  

  <!--your main panel-->
  <div class="row row-eq-height ">
    <div class="side-nav col-md-4">
      <div class="sidebar-menu">
        <!-- 自助开户 -->
        <a href="#menu1" data-toggle="collapse">自助开户<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu1" class="nav nav-list collapse menu-second">       
        </ul>
        <!-- 开户审核 -->
        <a href="#menu2" data-toggle="collapse">开户审核<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu2" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 创意审核 -->
        <a href="#menu3" data-toggle="collapse">创意审核<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu3" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 财务知识：充值 -->
        <a href="#menu4" data-toggle="collapse">财务知识：充值<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu4" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 财务知识：发票 -->
        <a href="#menu5" data-toggle="collapse">财务知识：发票<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu5" class="nav nav-list collapse menu-second">    
        </ul>
        <!-- 管理平台概要 -->
        <a href="#menu6" data-toggle="collapse">管理平台概要<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu6" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 创建广告 -->
        <a href="#menu7" data-toggle="collapse">创建广告<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu7" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 广告定向问题 -->
        <a href="#menu8" data-toggle="collapse">广告定向问题<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu8" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 工具箱 -->
        <a href="#menu9" data-toggle="collapse">工具箱<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu9" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 财务知识：退款 -->
        <a href="#menu10" data-toggle="collapse">财务知识：退款<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu10" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 广告投放效果数据 -->
        <a href="#menu11" data-toggle="collapse">广告投放效果数据<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu11" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 无效点击 -->
        <a href="#menu12" data-toggle="collapse">无效点击<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu12" class="nav nav-list collapse menu-second">  
        </ul>
        <!-- 代理商相关知识 -->
        <a href="#menu13" data-toggle="collapse">代理商相关知识<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu13" class="nav nav-list collapse menu-second">    
        </ul>
        <!-- 第三方监控能力 -->
        <a href="#menu14" data-toggle="collapse">第三方监控能力<i class="menu-icon glyphicon glyphicon-chevron-right"></i></a>  
        <ul id="menu14" class="nav nav-list collapse menu-second">  
        </ul>
      </div>
    </div>
    <div class="main-content col-md-8">
      <div class="content">
        AdClick文档补充中...
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container footer-text">
      <p class="text-muted">Copyright © 2012-2017 上海数凹科技有限公司. 版权所有</p>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
