<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-eqiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/icon/favicon.ico">
    <title>
      AdClick DSP 管理中心
    </title>
    <!-- Bootstrap core css-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/bootstrap-switch.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/navbar-fixed-side.css" rel="stylesheet">
    <link href="/css/daterangepicker.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/overview.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <!-- Nav part-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <img class="navbar-brand-logo navbar-left" alt="Brand" src="/icon/logo.png">
          <a class="navbar-brand" href="/">
          AdClick 管理中心</a>
        </div>
        <ul class="nav navbar-nav" id="navbar">
          <li>
            <a href="#">
            <span id="weluser">
            欢迎您:</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a id="logout">
            <span class="glyphicon glyphicon-log-out">
            </span>
            退出</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="sidenav" id="sidenav"></div>
       <div id="main" class="container-fluid" style="height: 1000px; position: relative;">
        <div id="tabs" class="row" ></div>
        <div class="row" style="height:100%;">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default" style="margin-top:20px">
                <div class="panel-heading" style="height: 50px">
                    <select
                  style="width: 150px; float: right;" id='timezone'
                  onchange="selectchange(this.id,2)">
                  <option value='all'>所有数据</option>
                  <option value='mouth'>前30天</option>
                  <option value='day'>前24小时</option>
                  <option value='hour'>前1小时</option>
                  <option value='minute'>前1分钟</option>
                </select>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="margin-top: 15px; height: 30px">
                        <select
                            style="width: 150px; height: 30px; float: left; margin-left: 90px;"
                            id='l_con' onchange="selectchange(this.id,0)">
                            <option value='bid_req'>竞价请求</option>
                            <option value='bid'>参与竞价</option>
                            <option value='imp' selected='selected'>展现数</option>
                            <option value='click'>点击数</option>
                            <option value='cost'>总消费数</option>
                            <option value='cost_cpm'>CPM消费数</option>
                            <option value='cost_cpc'>CPC消费数</option>
                            <option value='cost_cpd'>CPD消费数</option>
                        </select> <select
                            style="width: 150px; height: 30px; float: right; margin-right: 90px;"
                            id='r_con' onchange="selectchange(this.id,1)">
                            <option value='bid_req'>竞价请求</option>
                            <option value='bid'>参与竞价</option>
                            <option value='imp'>展现数</option>
                            <option value='click' selected='selected'>点击数</option>
                            <option value='cost'>总消费数</option>
                            <option value='cost_cpm'>CPM消费数</option>
                            <option value='cost_cpc'>CPC消费数</option>
                            <option value='cost_cpd'>CPD消费数</option>
                        </select>
                    </div>
                    <div id="user_report" style="width: 100%; height: 280px"></div>
                </div>
            </div>
        </div>
        </div>
    <!-- Bootstrap core JavaScript==================================================-->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap-switch.min.js"></script>
    <script src="/echarts/echarts.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.daterangepicker.js"></script>
    <script src="/bootstrap/js/bootstrap-treeview.js"></script>
    <script>window.current_tab = "realtime_allt";window.current_nav = "realtime";</script>
    <script src="/js/constants.js"></script>
    <script src="/js/tools.js"></script>
    <script src="/js/component.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/realtime_allt.js"></script>
  </body>
</html>