<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-eqiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/icon/favicon.ico">
    <title>
      AdClick DSP 管理中心
    </title>
    <!-- Bootstrap core css-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/bootstrap/css/navbar-fixed-side.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-treeview.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/user-check.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <!-- Nav part-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <img class="navbar-brand-logo navbar-left" alt="Brand" src="/icon/logo.png">
          <a class="navbar-brand" href="/">
          AdClick 管理中心</a>
        </div>
        <ul class="nav navbar-nav" id="navbar">
          <li>
            <a href="#">
            <span id="weluser">
            欢迎您:</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a id="logout">
            <span class="glyphicon glyphicon-log-out">
            </span>
            退出</a>
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="sidenav" id="sidenav"></div>
    
    <div id="main">
      <div class="main-menu" id="treeview"> 
      </div>
      
      <div class="row" style="height: 100%; margin-left: 200px;">
        <div id="tabs" class="row" style="margin-left:0;"></div>
        <div id="content">
          <div id="user-main" > 
            <div class="lump">
              <div class="lump-hd">
                <h3>基本信息 <span id='user-type'></span></h3>
              </div>
              <div class="lump-bd">
                <div class="infomations">
                  <div class="info-bd"> 
                    <span>广告主基本信息</span>
                  </div>
                  <ul class="account-list">
                      <li>
                        <div class="account-list-name">用户名</div>
                        <div class="account-list-con">
                          <p class="account-text" id="user-name"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">公司名</div>
                        <div class="account-list-con">
                          <p class="account-text" id="company-name"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">公司电话</div>
                        <div class="account-list-con">
                          <p class="account-text" id="phone"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">公司地址</div>
                        <div class="account-list-con">
                          <p class="account-text" id="address"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">营业执照类型</div>
                        <div class="account-list-con">
                          <p class="account-text" id="qualification-type"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">营业执照编号</div>
                        <div class="account-list-con">
                          <p class="account-text" id="license-number"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">营业执照有效时间</div>
                        <div class="account-list-con">
                          <p class="account-text" id="start-to-end-time"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">公司营业执照</div>
                        <div class="account-list-con">
                          <img src="" alt="" id="company-license">
                        </div>
                      </li>
                      
                  </ul>
                  
                </div>
                <div class="infomations">
                  <div class="info-bd"> 
                    <span>联系人信息</span>
                  </div>
                  <ul class="account-list">
                      <li>
                        <div class="account-list-name">联系人姓名</div>
                        <div class="account-list-con">
                          <p class="account-text" id="contact-name"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">联系人电话</div>
                        <div class="account-list-con">
                          <p class="account-text" id="contact-mobile"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">联系人邮箱</div>
                        <div class="account-list-con">
                          <p class="account-text" id="contact-email"></p>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="buttons clear-fix">
                <div class="btn-group" id="user-btn-group">
                </div>
              </div>
            </div>
            
          </div>
          
          <div id="qualifition-main" class="hidden">
            <div class="lump">
              <div class="lump-hd">
                <h3>行业资质信息</h3>
              </div>
              <div class="lump-bd">
                <div class="infomations">
                  <div class="info-bd"> 
                    <span>广告主资质信息</span>
                  </div>
                  <ul class="account-list">
                      <li>
                        <div class="account-list-name">资质名称</div>
                        <div class="account-list-con">
                          <p class="account-text" id="qualification_name"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">主站名</div>
                        <div class="account-list-con">
                          <p class="account-text" id="site-name"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">主站地址</div>
                        <div class="account-list-con">
                          <p class="account-text" id="site-url"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">行业分类</div>
                        <div class="account-list-con">
                          <p class="account-text" id="cate-subcate"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">资质编号</div>
                        <div class="account-list-con">
                          <p class="account-text" id="qualification_number"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">有效时间</div>
                        <div class="account-list-con">
                          <p class="account-text" id="qual-valid-time"></p>
                        </div>
                      </li>
                      <li>
                        <div class="account-list-name">行业资质</div>
                        <div class="account-list-con">
                          <img src="" alt="" id="qualification-img">
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="buttons clear-fix">
                <div class="btn-group" id="qul-btn-group">
                </div>
              </div>
            </div>
          
          </div>
          
          <div id="invoice-main" class="hidden">
            <div class="clearfix" style="margin-bottom:20px;">
              <select class="input-sm pull-right" id="sort">
                <option value="更新时间减序">更新时间减序</option>
                <option value="创建时间增序">创建时间增序</option>
                <option value="创建时间减序">创建时间减序</option>
              </select>
            </div>
            <div class="clear-fix">
              <table id="invoice-list" class="table table-striped table-bordered table-hover table-condensed small">
                <thead>
                  <tr>
                    <th>发票抬头</th>
                    <th>税号</th>
                    <th>地址</th>
                    <th>联系电话姓名</th>
                    <th>发票状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            
            <!-- invoice-modal -->
            <div class="modal fade" id="invoice-modal" tabindex="-1" role="dialog" aria-labelledby="invoice-form-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">审核发票信息</h4>
                  </div>
                    
                  <div class="modal-body small" style="user-select:none;">
                    <form class="form-horizontal" action="" role="form">
                      <fieldset>
                        <legend class="sr-only">基本信息</legend>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">发票抬头</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-title"></span>
                          </div>
                          <label class="control-label col-sm-2">税号</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-tax-no"></span>
                          </div>              
                        </div>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">公司地址</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-address"></span>
                          </div>
                          <label class="control-label col-sm-2">公司电话</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-phone"></span>
                          </div>              
                        </div>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">银行</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-bank"></span>
                          </div>
                          <label class="control-label col-sm-2">卡号</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-bank-account-no"></span>
                          </div>              
                        </div>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">收票姓名</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-receiver-name"></span>
                          </div>
                          <label class="control-label col-sm-2">收票地址</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-receiver-address"></span>
                          </div>              
                        </div>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">收票邮箱</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-receiver-email"></span>
                          </div>
                          <label class="control-label col-sm-2">收票电话</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-receiver-mobile"></span>
                          </div>              
                        </div>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">发票类型</label>
                          <div class="col-sm-4 audit-content">
                            <span id="in-type"></span>
                          </div>             
                        </div>
                        <div class="form-group"> 
                          <label class="control-label col-sm-2">资质文件</label>
                          <div class="col-sm-4 audit-content">
                            <img src="" alt="尚未上传资质文件" id="in-qualification">
                          </div>             
                        </div>
                      </fieldset>
                      

                    
                    </form>      
                  </div>
                    
                  <div class="modal-footer" id="invoice-btn-group">
                  </div>
                </div>
              </div>
            </div>
            <!-- modal end -->
            
          </div>
          
          <div id="tag-main" class="hidden">
            <div class="lump">
              <div class="lump-hd">
                <h3>标签总体受众查询</h3>
              </div>
              <div class="lump-bd">
                <div class="infomations">
                  <form class="form-horizontal fixed-form" style="margin-top: 20px;">
                    <div class="form-group">
                      <label class="control-label col-sm-1">*标签名</label>
                      <div class="col-sm-3">
                        <input type="text" name="" class="form-control" id="tag-name" placeholder="请输入标签名称">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-1">*最小权重</label>
                      <div class="col-sm-3">
                        <input type="text" name="" class="form-control" id="min-weight" placeholder="请输入权重（0-1的数字）">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="buttons">
                  <button class="btn btn-primary" id="query-tag-user-sum" style="margin-left: 115px;">查询</button>
                  <p id="tag-search-result" style="display: inline-block; margin-left: 20px;" class="hidden"></p>
                </div>
              </div>
            </div>
          </div>

          <div id="slot-price-main" class="hidden">
            <div class="clearfix">
              <button id="add-slot-price" class="btn btn-primary btn-sm">添加广告位限价</button>
            </div>
            <table id="slot-price-list" class="table table-striped table-bordered table-hover table-condensed small" style="margin-top: 20px;">
              <thead>
                <tr>
                  <th>adx</th>
                  <th>广告位id</th>
                  <th>状态</th>
                  <th>底价</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
            </table>

            <!-- add model -->
            <div class="modal fade bs-example-modal-sm" id="modal-slot-price-form" tabindex="-1" role="dialog"  aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加广告位底价</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal">
                      <fieldset>
                        <div class="form-group">
                          <label for="" class="control-label col-sm-3">ADX</label>
                          <div class="col-sm-9"> 
                            <select id="adx-name" class="form-control">
                              
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="control-label col-sm-3">广告位ID</label>
                          <div class="col-sm-9"> 
                            <input type="text" id="slot-id" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="control-label col-sm-3">底价(元)</label>
                          <div class="col-sm-9"> 
                            <input type="text" id="bottom-price" class="form-control">
                          </div>
                        </div>
                      </fieldset>
                    </form>
                    <div id="err-msg"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="add-slot-price-btn">确认</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript==================================================-->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap-switch.min.js"></script>
    <script src="/bootstrap/js/bootstrap-treeview.js"></script>
    <script>window.current_nav = "usercheck";</script>
    <script src="/js/cate.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/tools.js"></script>
    <script src="/js/component.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/init-user-list.js"></script>
    <script src="/js/user_check.js"></script>

  </body>
</html>