<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/icon/favicon.ico">

  <title>AdClick DSP 业务系统</title>
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="/bootstrap/css/navbar-fixed-side.css" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet"/>
  
</head>
<body>
<div class="container-fluid">
  <!--Nav part-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <img alt="Brand" class="navbar-brand-logo  navbar-left" src="/icon/logo.png">
      <a class="navbar-brand" href="/">AdClick投放系统</a>
    </div>
    <ul id="navbar" class="nav navbar-nav">
      <li><a href="#"><span id="weluser">欢迎您：</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;退出&nbsp;</a></li>
    </ul>
  </div>
  </nav>

  <div id="sidenav" class="sidenav">
  </div>

  <!--your main panel-->
  <div id="main">
    <div id="tabs" class="row"></div>
    <div id="content">
      <!--account start-->
      <div class="clearfix table-choose">
        <div class="pull-left" style="margin-top:5px;">
          <form id="fAccountType">
            <span>充值记录：</span>
            <label class="radio-inline">
              <input id="rAccount" type="radio" name="optradio" checked="checked">在线充值
            </label>
            <label class="radio-inline">
              <input id="vAccount" type="radio" name="optradio">后台充值
            </label>
          </form>
        </div>
        <div class="pull-right"> 
          <select class="form-control input-sm" id="sort">
            <option value="创建时间减序">创建时间减序</option>
            <option value="创建时间增序">创建时间增序</option>
          </select>
        </div>
      </div>
      <!--account end-->
      <!--table start-->
      <div class="clear-fix">
        <table id="frecord-list" class="table table-striped table-bordered table-hover table-condensed small">
          <thead>
            <tr class="text-muted">
              <th>日期</th>
              <th>存入（元）</th>
              <th>支出（元）</th>
              <th>状态</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot></tfoot>
        </table>
      </div>
<!--table end-->
    </div>
  </div>
</div>
  <!-- Bootstrap core JavaScript ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script>window.current_tab = "record";window.current_nav = "finance";</script>
  <script src="/js/component.js"></script>
  <script src="/js/constants.js"></script>
  <script src="/js/tools.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/account/account.js"></script>
  <script src="/js/account/account_records.js"></script>
</body>
</html>
